In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas
from shapely.geometry import Point, LineString, Polygon, MultiPolygon

In [2]:
gdp = geopandas.read_file('data\COMMUNE\COMMUNE.shp')

In [3]:
gdp = gdp[['ID', 'NOM', 'NOM_M', 'INSEE_COM','geometry']]
gdp

,ID,NOM,NOM_M,INSEE_COM,geometry
0,COMMUNE_0000000009747703,Antully,ANTULLY,71010,"POLYGON ((808611.800 6647932.300, 808616.400 6..."
1,COMMUNE_0000000009734075,Le Tremblay-Omonville,LE TREMBLAY-OMONVILLE,27658,"POLYGON ((547061.500 6891568.600, 546950.500 6..."
2,COMMUNE_0000000009730209,Vaux-lès-Mouzon,VAUX-LES-MOUZON,08466,"POLYGON ((855756.200 6944043.100, 855753.000 6..."
3,COMMUNE_0000000009742448,Anchenoncourt-et-Chazel,ANCHENONCOURT-ET-CHAZEL,70017,"POLYGON ((935224.300 6754155.900, 935148.100 6..."
4,COMMUNE_0000002324290054,Culoz-Béon,CULOZ-BEON,01138,"POLYGON ((917787.200 6532869.700, 917777.100 6..."
...,...,...,...,...,...
34811,COMMUNE_0000000009746033,Noyers-sur-Cher,NOYERS-SUR-CHER,41164,"POLYGON ((576390.600 6687745.100, 576347.300 6..."
34812,COMMUNE_0000000009732509,Glaignes,GLAIGNES,60274,"POLYGON ((688055.500 6909797.200, 688065.900 6..."
34813,COMMUNE_0000000009738782,Chalautre-la-Grande,CHALAUTRE-LA-GRANDE,77072,"POLYGON ((730581.700 6825995.700, 730581.500 6..."
34814,COMMUNE_0000000009755155,Mauzens-et-Miremont,MAUZENS-ET-MIREMONT,24261,"POLYGON ((536415.100 6431659.900, 536270.700 6..."
34815,COMMUNE_0000000009761256,Sénarens,SENARENS,31543,"POLYGON ((536546.500 6250465.800, 536538.900 6..."

In [4]:
birth = pd.read_csv('data/base_naissances_2021.csv',sep=';',index_col='CODGEO')
meta_birth = pd.read_csv('data/meta_base_naissances_2021.csv',sep=';')
death = pd.read_csv('data/base_deces_2021.csv',sep=';',index_col='CODGEO')
meta_death = pd.read_csv('data/meta_base_deces_2021.csv',sep=';')

codgeo = pd.read_csv('data/v_commune_2023.csv')

In [5]:
codgeo = codgeo[(codgeo.DEP != '971') & (codgeo.DEP != '972') & (codgeo.DEP != '973') & (
    codgeo.DEP !='974') & (codgeo.DEP != '976')&(codgeo.TYPECOM == 'COM')].reset_index(drop=True)

In [6]:
codgeo

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
34811,COM,95676,11.0,95,95D,953,0,VILLERS EN ARTHIES,Villers-en-Arthies,Villers-en-Arthies,9520,NaN
34812,COM,95678,11.0,95,95D,953,0,VILLIERS ADAM,Villiers-Adam,Villiers-Adam,9514,NaN
34813,COM,95680,11.0,95,95D,952,0,VILLIERS LE BEL,Villiers-le-Bel,Villiers-le-Bel,9521,NaN
34814,COM,95682,11.0,95,95D,952,0,VILLIERS LE SEC,Villiers-le-Sec,Villiers-le-Sec,9509,NaN
34815,COM,95690,11.0,95,95D,953,0,WY DIT JOLI VILLAGE,Wy-dit-Joli-Village,Wy-dit-Joli-Village,9520,NaN

In [7]:
gdp

,ID,NOM,NOM_M,INSEE_COM,geometry
0,COMMUNE_0000000009747703,Antully,ANTULLY,71010,"POLYGON ((808611.800 6647932.300, 808616.400 6..."
1,COMMUNE_0000000009734075,Le Tremblay-Omonville,LE TREMBLAY-OMONVILLE,27658,"POLYGON ((547061.500 6891568.600, 546950.500 6..."
2,COMMUNE_0000000009730209,Vaux-lès-Mouzon,VAUX-LES-MOUZON,08466,"POLYGON ((855756.200 6944043.100, 855753.000 6..."
3,COMMUNE_0000000009742448,Anchenoncourt-et-Chazel,ANCHENONCOURT-ET-CHAZEL,70017,"POLYGON ((935224.300 6754155.900, 935148.100 6..."
4,COMMUNE_0000002324290054,Culoz-Béon,CULOZ-BEON,01138,"POLYGON ((917787.200 6532869.700, 917777.100 6..."
...,...,...,...,...,...
34811,COMMUNE_0000000009746033,Noyers-sur-Cher,NOYERS-SUR-CHER,41164,"POLYGON ((576390.600 6687745.100, 576347.300 6..."
34812,COMMUNE_0000000009732509,Glaignes,GLAIGNES,60274,"POLYGON ((688055.500 6909797.200, 688065.900 6..."
34813,COMMUNE_0000000009738782,Chalautre-la-Grande,CHALAUTRE-LA-GRANDE,77072,"POLYGON ((730581.700 6825995.700, 730581.500 6..."
34814,COMMUNE_0000000009755155,Mauzens-et-Miremont,MAUZENS-ET-MIREMONT,24261,"POLYGON ((536415.100 6431659.900, 536270.700 6..."
34815,COMMUNE_0000000009761256,Sénarens,SENARENS,31543,"POLYGON ((536546.500 6250465.800, 536538.900 6..."

In [8]:
geometry = codgeo.merge(gdp,left_on = 'COM',right_on='INSEE_COM')
geometry.columns
geometry = geometry[['COM','REG','DEP','LIBELLE','geometry']]

In [9]:
d = death.rename(columns={'DECESD14':'14', 'DECESD15':'15', 'DECESD16':'16', 'DECESD17':'17', 'DECESD18':'18', 'DECESD19':'19',
       'DECESD20':'20', 'DECESD21':'21'})
b = birth.rename(columns={'NAISD14':'14', 'NAISD15':'15', 'NAISD16':'16', 'NAISD17':'17', 'NAISD18':'18', 'NAISD19':'19',
       'NAISD20':'20', 'NAISD21':'21'})

In [31]:
natural_causes = (b-d).merge(geometry,left_on = 'CODGEO',right_on='COM')
natural_causes['delta']=(natural_causes['21']-natural_causes['14'])/7

In [ ]:
migr = pd.read_csv('data\FD_MIGGCO_2019.csv',sep=';')